* {
  margin: 0;
  padding: 0;
}

body {
  font-family:sans-serif;
  margin: 0;
}

.red-border {
  border: 2px solid red;
}

.blue-border {
  border: 2px solid blue;
}

.black-border {
  border: 2px solid black;
}

.form {
  margin: auto;
  padding: 20px 0;
  padding-bottom: 80px;
  width: 90%;
}


.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

.header h1 {
  color: #333;
  font-size: 1.8rem;
}

.header p {
  font-size: 0.8rem;
  color: grey;
}

.form-group {
  flex-grow: 1;
  margin: 15px 0;
  display: flex;
  flex-direction: column;
}

.flex-group {
  display: flex;
  gap: 15px;
}

input, #hotelSelect, .input {
  flex-grow: 1;
  padding: 10px;
  color: #222;
  outline-color: blue;
  border-radius: 5px;
  border: 1px solid gray;
}

label {
  color: grey;
  font-size: 1rem;
}

.form-group #hotelSelect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

#reveal {
  display: flex;
  font-weight: bold;
  margin-top: -10px;
  align-items: center;
  justify-content: center;
  transform: rotate(180deg);
  transition: all 0.2s ease-in-out;
}

#reveal.open {
  transform: rotate(0deg);
  margin-top: 0px;
}

#roomType {
  position: relative;
}

.form-group #hotelType {
  border-radius: 5px;
  position: absolute;
  top: 0px;
  width: 100%;
  transition: all 0.2s ease-in;
  opacity: 0;
  display: none;
}

.form-group #hotelType div {
  display: flex;
  background-color: #ccc;
  justify-content: space-between;
  cursor: pointer;
  transition: all 0.2s ease-in;
  border: 1px solid #aaa;
  padding: 8px 10px 7px 5px;
}

.form-group #hotelType div:hover {
  background-color: #aaa;
}

.form-group #hotelType.active{
  top: 60px;
  opacity: 1;
  display: block;
}

.numberOfGuest {
  display: flex;
  gap: 3px;
  align-items: stretch;
  border-radius: 5px;
}

.numberOfGuest button {
  width: 30px;
  font-size: 1em;
  font-weight: bold;
  background-color: white;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 10px;

  transition: all 0.2s ease-in;
  cursor: pointer;
}

.numberOfGuest button:hover {
  background-color: #ddd;
}

.form-group #amountOfGuest {
  text-align: center;
  font-weight: bold;
  justify-self: center;
  height: 100%;
  align-self: center;
  display: flex;
  color: black;
}


.form-group #amountOfGuest::-webkit-outer-spin-button,
.form-group #amountOfGuest::-webkit-inner-spin-button {
  display: none;
}

.arriveDate {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arriveDate .arrivecontent {
  background-color: red;
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin-right: 15px;
  padding: none;
}

